@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');



html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #000054;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 400px;
    padding: 2em 2em 4em;
        
}

div#main{
    background: url("baumkuchen.png") no-repeat 0 0/cover ;
}


div#    details{
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 50px;
  margin: auto;
  font-size: 50px;
}



h1{
    color: #222;
    font-weight: 600;
    line-height: 1.3;
    font-size: xxx-large;
    font-family: 'Amatic SC', cursive;
    padding: 1rem 2rem;
    border-top: 3px dashed #333;
    border-bottom: 3px dashed #333;
    margin: 0 auto;
}

h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

.wrap{
  display:flex;
}


#iconimg{
    width: 30%;
    margin: 0 auto;
    transition: 3s;
}

#iconimg:hover {
   transform: rotateX(360deg); 
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}


.css-button a {    
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	color: #000000;
	transition: 0.5s;
}


.css-button a:hover {
   	color: #fff;
	background: #27acd9;

}

ul {
  width: 80%;
  column-count: 3;
  column-gap: 16px;
}

ul li {
  break-inside: avoid;
  margin-bottom: 8px;
  padding: 8px;
  background-color: royalblue;
  color: #fff;
}
